.nexuAI__brand{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nexuAI__brand div{
    flex: 1;
    max-width: 150px;
    max-height: 120px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}