.nexuAI__header{
    display: flex;
}

.nexuAI__header-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 5rem;
}

.nexuAI__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.nexuAI__header-content p{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px; 
    line-height: 28px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.nexuAI__header-content__input{
    width: 100%;
    margin: 2rem 0 1rem ;
    display: flex;
}

.nexuAI__header-content__input input{
    flex:2;
    width: 100%;
    min-height: 50px;
    background-color: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    color: #fff;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: normal;
    color: #3D6184;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nexuAI__header-content__input button{
    flex: 0.6;
    min-height: 50px;
    width: 100%;
    background: #AE67FA;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nexuAI__header-content__input button:hover{
background: #F49867;
}
.nexuAI__header-content__people{
    display: flex;
     justify-content: flex-start;
     width: 100%;
     align-items: center;
     margin-top: 2rem;
}

.nexuAI__header-content__people img{
    width: 181.79px;
    height: 38px;
}
.nexuAI__header-content__people p{
    text-align: center;
    margin:0 0 0 1rem ;
    font-family: var(--font-family);
    font-weight: 500;
    line-height:38px;
    font-size: 12px;
    color: #fff;

}

.nexuAI__header-image{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}    

.nexuAI__header-image img{
    width: 573px;
    height: 578.67px
}

@media screen and (max-width:1050px) {
    .nexuAI__header{
        flex-direction: column;
    }
    .nexuAI__header-content{
        margin: 0 0 3rem;
    }
}
@media screen and (max-width:650px) {
    .nexuAI__header h1{
        font-size: 48px;
        line-height: 60px;
    }
    .nexuAI__header p{
       font-size: 16px;
       line-height: 24px;
    }
    .nexuAI__header-content__people{
        flex-direction: column;
    }
    .nexuAI__header-content__people p{
        margin: 0;
    }

    .nexuAI__header-content__input input,
    .nexuAI__header-content__input button{
        font-size: 16px;
        line-height: 24px;
    }
    .nexuAI__header-image img{
        width: 100%;
        height: 100%
    }
}
@media screen and (max-width:650px) {
    .nexuAI__header h1{
        font-size: 36px;
        line-height: 48px;
    }
    .nexuAI__header p{
       font-size: 14px;
       line-height: 24px;
    }

    .nexuAI__header-content__input input,
    .nexuAI__header-content__input button{
        font-size: 12px;
        line-height: 16px;
    }
    
}
